<div>
  <h3 matLine>Compare</h3>
  <div class="col-md-6">
    <div class="compare-images">
      <p matLine>Photo 1:</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="compare-images">
      <p matLine>Photo 2:</p>
    </div>
  </div>
  <div>
    <!-- result image -->
    <ng-container [ngSwitch]="photosComparing">
      <div *ngSwitchCase="true">
        <mat-progress-spinner mode="indeterminate" [diameter]="35"></mat-progress-spinner>
        <span>Comparing photos... This may take a while</span>
      </div>
      <div *ngSwitchCase="false">
        result
        <img *ngIf="photosCompareResult">
      </div>
    </ng-container>
  </div>
</div>
