<form [formGroup]="form" class="col-md-10">
  <mat-form-field class="field-wide">
    <input matInput
           [readonly]="!editing"
           formControlName="title"
           placeholder="Title">
    <mat-hint>
      <mat-error *ngIf="form.get('title').hasError('required') && form.get('title').touched">
        Title is required
      </mat-error>
    </mat-hint>
  </mat-form-field>
  <mat-form-field class="field-wide">
      <textarea matInput
                formControlName="notes"
                [readonly]="!editing"
                placeholder="Notes"
                matTextareaAutosize
                matAutosizeMinRows="2"
                matAutosizeMaxRows="5">
      </textarea>
  </mat-form-field>
  <mat-form-field class="field-wide">
    <input matInput
           formControlName="createDate"
           [readonly]="!editing"
           [matDatepicker]="datePicker"
           placeholder="Create date">
    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker [disabled]="!editing" #datePicker></mat-datepicker>
    <mat-hint>
      <mat-error *ngIf="form.get('createDate').hasError('required') && form.get('createDate').touched">
        Create date is required
      </mat-error>
    </mat-hint>
  </mat-form-field>
  <cs-map [latitude]="form.get('latitude').value"
          [longitude]="form.get('longitude').value"
          [markerDraggable]="editing"
          (locationChange)="onLocationChange($event)">
  </cs-map>
</form>
