.register-page__card {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

:host {
  mat-form-field {
    width: 100%;
  }

  button {
    margin-right: 10px !important;
    float: right;
  }
}
