<div class="photos-action__btns">
  <button class="add-btn" mat-raised-button (click)="openAddPhotoDialog()">ADD PHOTO</button>
  <mat-slide-toggle class="compare-images__slide-tgl"
                    color="primary"
                    labelPosition="before"
                    [formControl]="comparePhotosControl">
    Compare photos
  </mat-slide-toggle>
</div>
<div class="loading-photos__overlay" *ngIf="photosLoading">
  <mat-progress-spinner mode="indeterminate" [diameter]="25">
  </mat-progress-spinner>
  <span>Loading photos...</span>
</div>
<ng-container *ngIf="photos">
  <mat-grid-list cols="7" rowHeight="200px">
    <mat-grid-tile *ngFor="let photo of photos"
                   (click)="openPreview(photo)"
                   [colspan]="1"
                   [rowspan]="1"
                   [style.background-image]="'url(data:image/' + photo.imageType + ';base64,' + photo.content + ')'">
      <mat-checkbox [disabled]="!comparePhotos"></mat-checkbox>
      <button mat-icon-button [matMenuTriggerFor]="menu" (click)="menuButtonClicked(photo, $event)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>

<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="openEditPhotoDialog(menuPhoto)">
    <mat-icon>build</mat-icon>
    <span>UPLOAD NEW</span>
  </button>
  <button mat-menu-item (click)="openPreview(menuPhoto)">
    <mat-icon>crop_original</mat-icon>
    <span>PREVIEW</span>
  </button>
  <button mat-menu-item (click)="delete(menuPhoto)">
    <mat-icon>delete</mat-icon>
    <span>DELETE</span>
  </button>
</mat-menu>
