.add-btn {
  float: right;
  vertical-align: middle;
}

.loading-photos__overlay {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  mat-progress-spinner {
    margin-right: 25px;
  }
}

.compare-images__slide-tgl {
  float: right;
  margin-right: 30px;
  vertical-align: middle;
}

.photos-action__btns {
  height: 50px;
  margin-top: 15px;
}

mat-grid-list {
  margin-top: 60px;
}

mat-grid-tile {
  margin-top: 15px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background-size: 140px;
  background-repeat: no-repeat;
  background-position: center;
}
