<h3 matLine>Photos</h3>
<div class="loading-photos__overlay" *ngIf="photosLoading">
  <mat-progress-spinner mode="indeterminate" [diameter]="25">
  </mat-progress-spinner>
  <span>Loading photos...</span>
</div>
<ng-container *ngIf="photos">
  <mat-list>
    <mat-list-item *ngFor="let photo of photos">
      <img matListAvatar [src]="'data:image/' + photo.imageType + ';base64,' + photo.content"
           (click)="openPreview(photo)">
      <p matLine>
        <span>{{ photo.createDate | date }}</span>
      </p>
    </mat-list-item>
  </mat-list>
</ng-container>

<mat-menu #menu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="openEditPhotoDialog(menuPhoto)">
    <mat-icon>build</mat-icon>
    <span>UPLOAD NEW</span>
  </button>
  <button mat-menu-item (click)="openPreview(menuPhoto)">
    <mat-icon>crop_original</mat-icon>
    <span>PREVIEW</span>
  </button>
  <button mat-menu-item (click)="delete(menuPhoto)">
    <mat-icon>delete</mat-icon>
    <span>DELETE</span>
  </button>
</mat-menu>
