.add-btn {
  margin-top: 15px;
}

.loading-photos__overlay {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  mat-progress-spinner {
    margin-right: 25px;
  }
}
