.loading-photos__overlay {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  mat-progress-spinner {
    margin-right: 15px;
  }
}

.compare-images__slide-tgl {
  float: right;
  margin-right: 30px;
  vertical-align: middle;
}

.photos-action__btns {
  height: 50px;
  margin-top: 15px;
}

.mat-list-avatar {
  //height: 200px !important;
  //width: auto;
}

mat-grid-list {
  margin-top: 60px;
}

.mat-list-item, img {
  height: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
}
