<mat-card *ngIf="story">
  <mat-card-title>
    <span>Story details</span><span *ngIf="editing" class="editing-mode"> - editing</span>
    <div class="edit-btn">
      <button mat-raised-button (click)="toggleEdit()">EDIT</button>
    </div>
  </mat-card-title>
  <mat-card-content>
    <cs-story-form
      [editing]="editing"
      [story]="story"
      (formValueChange)="onFormValueChange($event)">
    </cs-story-form>
    <cs-photo-list [photos]="(photos | async)"
                   [photosLoading]="(photosLoading | async)"
                   (addPhoto)="onAddPhoto($event)"
                   (deletePhoto)="onDeletePhoto($event)"
                   (updatePhoto)="onUpdatePhoto($event)">
    </cs-photo-list>
  </mat-card-content>
</mat-card>
