<mat-card>
  <mat-card-title>
    <span>Story details</span><span *ngIf="editing" class="editing-mode"> - editing</span>
    <div class="edit-btn">
      <button mat-raised-button (click)="toggleEdit()">EDIT</button>
    </div>
  </mat-card-title>
  <mat-card-content *ngIf="!(storyLoading | async); else spinner">
    <cs-story-form *ngIf="story"
      [editing]="editing"
      [story]="story"
      (formValueChange)="onFormValueChange($event)">
    </cs-story-form>
    <div class="photos-action__btns">
      <button mat-raised-button (click)="comparePhotos()">COMPARE PHOTOS</button>
      <button mat-raised-button (click)="openAddPhotoDialog()">ADD PHOTO</button>
    </div>
    <div class="row">
      <div class="col-md-3 photo-list">
        <cs-photo-list *ngIf="!(photosLoading | async); else spinner"
                       [photos]="(photos | async)"
                       [photosLoading]="(photosLoading | async)"
                       (deletePhoto)="onDeletePhoto($event)"
                       (photoToCompare)="onPhotoToCompare($event)"
                       (updatePhoto)="onUpdatePhoto($event)">
        </cs-photo-list>
      </div>
      <div class="col-md-9 photo-compare">
        <cs-photo-compare [photos]="photosToCompare"
                          (sensitivityChange)="onSensitivityChange($event)"
                          (targetSizeChange)="onTargetSizeChange($event)">
        </cs-photo-compare>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<ng-template #spinner>
  <mat-spinner mode="indeterminate"></mat-spinner>
</ng-template>
