.overview-page__card {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 700px;
}

mat-card-title {
  font-size: 30px;
  font-weight: bold;
}

.overview-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-right: 7px;
  margin-left: 7px;
}

mat-card {
  max-width: 450px;
}
