<div class="login-page__card">
  <mat-card>
    <mat-card-title>
      <h3 mat-subheader>Login</h3>
      <mat-divider></mat-divider>
    </mat-card-title>
    <mat-card-content>
      <form class="login_page" [formGroup]="form">
        <div class="col-md-10">
          <mat-form-field class="col-md-10">
            <input matInput placeholder="Login" formControlName="login">
            <mat-hint>
              <mat-error *ngIf="form.get('login').hasError('required') && form.get('login').touched">
                Login is required
              </mat-error>
            </mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-10">
          <mat-form-field class="col-md-10">
            <input type="password" matInput placeholder="Password" formControlName="password" autocomplete="false">
            <mat-hint>
              <mat-error *ngIf="form.get('password').hasError('required') && form.get('password').touched">
                Password is required
              </mat-error>
            </mat-hint>
          </mat-form-field>
        </div>
      </form>
      <div>
        {{ apiError | async }}
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="login_button">
        <a [routerLink]="'#'" class="forgot_pswd_btn">Forgot password</a>
        <button
          mat-raised-button
          type="submit"
          (click)="submit()"
          [disabled]="form.invalid">
          LOGIN
        </button>
        <button mat-button (click)="cancel()">CANCEL</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
